<div class="charts-header">
  <h2>CHARTS</h2>
  <p-dropdown
    class="customSelect"
    id="huy"
    [ngStyle]="{ color: 'var(--primary-color)' }"
    [options]="genres"
    [(ngModel)]="selectedGenre"
    optionLabel="name"
    [showClear]="false"
    placeholder="Filter by genre"
  ></p-dropdown>
</div>

<div id="tabCharts" class="table-charts">
  <p-table [value]="tracks" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="body" let-track>
      <tr>
        <td>{{ track.id }}</td>
        <td>{{ track.title }}</td>
        <td>{{ track.artist }}</td>
        <td>{{ track.plays }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="wrapper-button">
  <p-button label="LOAD MORE"></p-button>
</div>
