<div class="charts-header">
  <h2>CHARTS</h2>
  <select name="" id="">
    SONGS / ALL GENRES / TODAY
  </select>
</div>

<table>
  <tbody>
    <tr>
      <td>1</td>
      <td>Fast Car</td>
      <td>Tracy Chapman</td>
      <td>1.6M</td>
    </tr>
    <tr>
      <td>2</td>
      <td>HISS</td>
      <td>Megan Thee Stallion</td>
      <td>1.5M</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Lose Yourself</td>
      <td>Eminem</td>
      <td>10.2M</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Think U The Shit (Fart)</td>
      <td>Ice Spice</td>
      <td>615.3K</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Big Foot</td>
      <td>Nicki Minaj</td>
      <td>977K</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Mockingbird</td>
      <td>Eminem</td>
      <td>4.7M</td>
    </tr>
    <tr>
      <td>7</td>
      <td>IU - Love wins all (Romanized)</td>
      <td>Genius Romanizations</td>
      <td>144.6K</td>
    </tr>
    <tr>
      <td>8</td>
      <td>The Real Slim Shady</td>
      <td>Eminem</td>
      <td>5.9M</td>
    </tr>
  </tbody>
</table>
