<div class="header">
  <h2>"{{ searchedQuery }}"</h2>
  <h3>ALL RESULTS</h3>
</div>
<div class="search-grid">
  <div class="grid-item grid-item-1">
    <h2>MUSICIANS</h2>
    <ul>
      <li *ngFor="let musician of musiciansLeftHalf$ | async">
        {{ musician.nickname }}
      </li>
    </ul>
  </div>

  <!-- Треки -->
  <div class="grid-item grid-item-2">
    <h2>TRACKS</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Artist</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="tracks$ | async as tracks">
          <tr *ngFor="let track of tracks">
            <td>{{ track.title }}</td>
            <td>{{ track.artist }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <!-- Еще музыканты -->
  <div class="grid-item grid-item-3">
    <h2>MUSICIANS</h2>
    <ul>
      <li *ngFor="let musician of musiciansRightHalf$ | async">
        {{ musician.nickname }}
      </li>
    </ul>
  </div>
</div>

<musicians-letters> </musicians-letters>
