<div class="signup-wrapper">
  <div class="signup-title">
    <h2>SIGN IN</h2>
  </div>

  <div class="form-wrapper">
    <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="">Username </label> <br />
        <input
          [ngClass]="{
            error: signUpForm.get('username').invalid && signUpForm.touched
          }"
          type="text"
          formControlName="username"
        />
        @if(signUpForm.get('username').invalid &&
        signUpForm.get('username').touched) {
        <span class="error-message">Username field is required</span>
        }
      </div>
      <div class="field">
        <label for="">Password </label><br />
        <input type="password" formControlName="password" />
      </div>
      <button type="submit">SIGN IN</button>
    </form>
  </div>
</div>
