* {
  box-sizing: border-box;
}
:host {
  height: 50px;
  margin: 0;
  display: flex;
  h2 {
    color: black;
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  h3 {
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
  }
  align-items: center;
  justify-content: space-between;
  background-color: #e4f267;
  padding-left: 1.5%;
  padding-right: 3%;
  button {
    width: 10%;
  }
}

.user-acts {
  align-items: right;
  display: flex;
  gap: 15px;
}

span i::before {
  position: relative;
  right: 10px;
  bottom: 8px;
}

.p-inputtext {
  height: 30px;
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  color: black !important;
}
