:host {
  display: flex;
  background-color: white;
  height: 90vh;
  .hottest-article {
    margin: 3% 10% 3%;
    display: flex;
    gap: 5%;
    .hottest-article__title {
      font-size: 34px;
      font-family: "Fira Sans", sans-serif;
    }
    img {
      width: 600px;
      height: 300px;
    }
  }
}

.wrapper-news {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-container {
  display: flex;
  justify-content: space-around;
  gap: 2%;
  margin: 0 20px 0 60px;
}

app-news-card {
  box-sizing: border-box;
  padding-right: 5%;
  border-right: 2px solid black;
  margin: 5px;
  width: 23%;
  height: 310px;
}
app-news-card:last-child {
  border: none;
}

a:hover {
  text-decoration: underline;
}
