<div class="wrapper">
  <div class="hottest-article">
    <div class="hottest-article__title">
      <h2>Some text </h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil
        dignissimos, excepturi voluptatum et hic id.
      </p>
    </div>
    <img src="assets/main-news.png" alt="" />
  </div>
  <div class="wrapper-news">
    <div class="news-container">
      <!-- <app-news-card
        *ngFor="let newsItem of latest_news"
        [article]="newsItem"
      ></app-news-card> -->
    @for (newsItem of latest_news; track newsItem) {
      <app-news-card [article]="newsItem"> </app-news-card>
      
    }
    </div>
  </div>
</div>
