<div class="wrapper">
  <div *ngIf="hottest_article$ | async as article" class="hottest-article">
    <div class="hottest-article__title">
      <h2>{{ article[0].title }}</h2>
      <p>
        {{ article[0].content }}
      </p>
    </div>
    <img src="assets/{{ article[0].image_path }}" alt="" />
  </div>
  <div class="wrapper-news">
    <div class="news-container">
      @for (newsItem of (latest_news$ | async); track newsItem) {
      <app-news-card [article]="newsItem"> </app-news-card>

      }
    </div>
  </div>
</div>
